#webcam{
    border-radius: 0.4rem;
    height: 400px;
    width: 532px
}
.btn-container{
    margin-top: 1rem;
}
.capture-img-btn{
    background-color: var(--danger);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 3px solid #999999;
    margin-top: 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
.capture-img-btn:hover{
    background-color: var(--danger);
    border-color: var(--danger);
}
.camera-btn{
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
    transition: all 0.3s ease;
}
.camera-btn:hover{
    color: var(--gray);
}

@media only screen and (max-width: 614px) {
    #camera-container{
        width: 100%;
    }
    #webcam{
        height: 100%;
        width: 100%;
    }
    .capture-img-btn{
        height: 50px;
        width: 50px;
    }
    .camera-btn{
        font-size: 1.8rem;
    }
}